<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	Свяжитесь с нами...нет, не связывайтесь, лучше <a href="http://tonsofcats.com/wp-content/uploads/2013/11/l-Surprised-kitties-550x445.jpg">посмотрите на котиков</a>
</p>