<!DOCTYPE html>
<html>
  <head>
    <title>пробное | Help</title>
  </head>
  <body>
  	<h1>Help</h1>
<p>Не знаю какую помощь ты тут хочешь увидеть, но <a href="http://i00.i.aliimg.com/img/pb/565/865/429/429865565_075.jpg">это</a>
поможет пофапать
</p>
</body>
</html>